@media only screen and (max-width: 480px)  {
  .quiz_theme_qsm-theme-serene.qsm-quiz-container:not(.qsm_auto_pagination_enabled){
    padding: 20px 10px;
  }
  .quiz_theme_qsm-theme-serene .qsm-save-quiz::after, .quiz_theme_qsm-theme-serene .qsm-resume-quiz::after {
    width: 33px;
    height: 33px;
    line-height: 33px;
    top: -2px;
    right: -8px;
}
  .qsm-svg-holder #svg-3 {
    bottom: 30px;
  }
  .qsm-svg-holder #svg-1 {

    bottom: 15px;
  }
  .qsm-quiz-container.quiz_theme_qsm-theme-serene .mlw_qmn_message_before
  {
    margin: 0;
    width: 70%;
    padding-left: 15px;
    font-size: 12px;
  }
  .quiz_theme_qsm-theme-serene .qsm-welcome-screen, .quiz_theme_qsm-theme-serene:not(.qsm_random_quiz) .qsm-auto-page-row.quiz_begin
  {
    padding: 0 0 0 0;
  }
  .quiz_theme_qsm-theme-serene .margin-bottom.qmn_pagination
  {
    display: flex;
    flex-direction: inherit;
  }
  .quiz_theme_qsm-theme-serene.qmn_quiz_container .qsm-save-quiz, .quiz_theme_qsm-theme-serene.qmn_quiz_container .qsm-resume-quiz, .quiz_theme_qsm-theme-serene .qmn_results_page .btn-reload-quiz
  {
    flex: auto;
  }
  .quiz_theme_qsm-theme-serene .qmn_btn.mlw_qmn_quiz_link.mlw_previous
  {
    text-align: left;
    margin-top: -35px;
	/* margin-right: 10.9rem; */
	margin-left: -50%;
  }
  .quiz_theme_qsm-theme-serene .mlw_previous:before{
    margin-left: -4px;
  }
  .quiz_theme_qsm-theme-serene .mlw_next::after{
    right: -10px;
  }
  .quiz_theme_qsm-theme-serene.qmn_quiz_container .qmn_btn
  {
    right: 7px;
  }
  .quiz_theme_qsm-theme-serene .qmn_btn.mlw_qmn_quiz_link.mlw_next {
    position: absolute;
    left: 57%;
    margin-top: -35px;
    line-height: 18px;
  }
  .quiz_theme_qsm-theme-serene .qsm-quiz-container .qmn_pagination .mlw_custom_start {
    position: absolute;
    left: 50%;
  }
  .quiz_theme_qsm-theme-serene.qmn_quiz_container .quiz_begin .qmn_btn.mlw_qmn_quiz_link.mlw_next
  {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
  }
  .quiz_theme_qsm-theme-serene.qmn_quiz_container input[type="submit"].qmn_btn{
    padding: 0;
    margin-left: 72%;
    padding: 6px 25px 6px 25px !important;
  }
  .quiz_theme_qsm-theme-serene .margin-bottom { 
	  margin: 2px -18px -16px -13px;
  }

}
@media only screen and (max-width: 767px) {
  .qsm-svg-holder #svg-3 {

    bottom: 25px;
  }
  .qsm-svg-holder #svg-1 {
    bottom: 17px;
  }
  .qsm-quiz-container.quiz_theme_qsm-theme-serene .mlw_qmn_message_before
  {
    margin: 0;
    width: 70%;
    padding-left: 15px;
    font-size: 12px;
  }
  .quiz_theme_qsm-theme-serene .qsm-welcome-screen, .quiz_theme_qsm-theme-serene:not(.qsm_random_quiz) .qsm-auto-page-row.quiz_begin
  {
    padding: 0;
  }
  .quiz_theme_qsm-theme-serene .margin-bottom
  {
    padding: 0 0 5px;
  }

	.quiz_theme_qsm-theme-serene .question-type-polar-s .left-polar-title,
	.quiz_theme_qsm-theme-serene .question-type-polar-s .right-polar-title {
		display: inline-block;
		margin: 0px !important;
		width: 50% !important;
	}
  .quiz_theme_qsm-theme-serene .question-type-polar-s .slider-main-wrapper{
    width: 92%;
    margin-left: -20px;
  }

	.quiz_theme_qsm-theme-serene .question-type-polar-s .right-polar-title {
		position: relative;
		right: -30px;
	}

	.quiz_theme_qsm-theme-serene .qsm-results-page .question-type-polar-s .right-polar-title {
		position: relative;
		top: -28px;
    left: 40%;
	}

	.quiz_theme_qsm-theme-serene .qmn_image_option {
		width: 97% !important;
	}
}